<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kalam:700" rel="stylesheet">
</head>

<body>
    <div class="container-fluid icon-top py-2 px-3">
        <div class="row">
            <div class="col d-flex justify-content-between align-items-baseline">
                <div class="top-icons">
                    <a href="https://www.facebook.com/md.hassaanali" class="mx-2"><i class="fab fa-facebook"></i></a><a
                        href="https://twitter.com/ali_hassaan_" class="mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC78U53cdzxrT1h8J6dU2PLA" class="mx-2"><i
                            class="fab fa-youtube"></i></a>
                    <a href="http://www.skillindialce.com/" class="mx-2
                 "><i class="fab fa-linkedin"></i></a>
                    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJvlqLmJtpPZKWDKCsBBFBrzsXJHMNHVXwbNSrzRsndLgmjFdPdjbvqPslHCDKvKVvNtPGq"
                        class="mx-2"><i class="fab fa-google"></i></a>


                </div>
                <h5 class="text-capitalize">Contact us: +91 8247792123</h5>
            </div>
        </div>
    </div>
    <header id="header">
        <nav id="navbar" class="navbar navbar-expand-lg">
            <a class="navbar-brand px-2 py-0 " href="#">Hassaan Ali</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </button>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link m-2 text-capitalize " href="#header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link m-2 text-capitalize" href="#skills">Skills</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link m-2 text-capitalize" href="#about">about</a>
                    </li>



                </ul>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here.....">
                        <div class="input-group-append">
                            <button class="btn search-btn" type="button"><i class="fas fa-search"></i></button>

                        </div>
                    </div>

                </form>

            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col no-padding">
                    <div id="demo-slider" class="carousel slide" data-ride="carousel">




                        <div class="carousel-inner">
                            <div class="carousel-item item-1 active">
                                <div class="carousel-caption mb-5 text-right">
                                    <h1 class="display-3 text-capitalize mb-2 text-light">I am Developer</h1>
                                    <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a>
                                </div>
                            </div>
                            <div class="carousel-item item-2">
                                <div class="carousel-caption mb-5 text-center">
                                    <h1 class="display-3 text-capitalize mb-2 text-light">I am Coder</h1>
                                    <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a>
                                </div>
                            </div>
                            <div class="carousel-item item-3">
                                <div class="carousel-caption mb-5 text-left">
                                    <h1 class="display-3 text-capitalize mb-2 text-light">I am teacher</h1>
                                    <a href="#" class="btn btn-lg mb-5 text-uppercase banner-btn">my work</a>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo-slider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#demo-slider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>




                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="skills" class="pb-5">
        <div class="container">
            <div class="row title mb-5">
                <div class="col text-center">
                    <img src="img/IMG-20190327-WA0002.jpg" class="img" alt="">


                </div>
            </div>

            <div class="row title mb-5">
                <div class="col text-center">
                    <h1 class="text-uppercase">my skills</h1>
                    <h3 class="text-capitalize">Hassaan Ali</h3>
                    <a href="#" class="mb-0"><i class="far fa-check-square"></i></a>
                    <div class="title-underline"></div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-html5"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">html</h3>
                            <p class="text-muted">Hyper Text Markup Language (HTML) is a markup language for creating a
                                webpage.<br>
                                Webpages are usually viewed in a web
                                browser.<br> They can include writing, links, pictures, and even sound and video.<br>
                                HTML is used to
                                mark and
                                describe each of
                                these kinds of content <br>so the web browser can display them correctly.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-css3"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">css</h3>
                            <p class="text-muted">Every Cascading Style Sheet (whether it is contained in a .css file,
                                or embedded in
                                the head element of an HTML
                                document) is a series of instructions called statements. A statement does two things: it
                                identifies the
                                elements in an
                                HTML document that it affects.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-js"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">javascript</h3>
                            <p class="text-muted">JavaScript is a programming language that can run inside nearly all
                                modern web
                                browsers. In the early days of the web,
                                the language was used to create simple scripts that did handy things, like check to make
                                sure you filled
                                out all the
                                "required" fields on a form before you hit submit.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-node-js"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">node.js</h3>
                            <p class="text-muted">Node.js is an open source server environment <br>
                                Node.js is free<br>
                                Node.js runs on various platforms (Windows, Linux, Unix, Mac OS X, etc.)<br>
                                Node.js uses JavaScript on the server</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-angular"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">MongoDb</h3>
                            <p class="text-muted">MongoDB is an open source database management system (DBMS) that uses
                                a
                                document-oriented database model which supports
                                various forms of data. ... Instead of using tables and rows as in relational databases,
                                the MongoDB
                                architecture is made
                                up of collections and documents.</p>
                        </div>
                    </div>
                </div>
                <!--        item-->
                <!--       item-->
                <div class="col-lg-6 my-5">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center skills-icon">
                            <span><i class="fab fa-react"></i></span>
                        </div>
                        <div class="col-6">
                            <h3 class="text-uppercase">react</h3>
                            <p class="text-muted">ReactJS is an open-source JavaScript library which is used for
                                building user
                                interfaces specifically for single page
                                applications. It's used for handling view layer for web and mobile apps. React also
                                allows us to create
                                reusable UI
                                components.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section id="contact-form" class='py-5'>
        <div class="container py-5">
            <div class="row height-30 align-items-center">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="text-capitalize display-3">contact me</h1>
                    <form class="form d-flex align-items-baseline">
                        <input type="text" class="form-control form-control-lg m-2" id="name"
                            placeholder="your email here....">
                        <button type="submit" class="btn btn-lg text-capitalize">Submit here</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class='py-5'></section>
    <div class="container">
        <!--     title-->
        <div class="row title my-5">
            <div class="col text-center">
                <h1 class="text-uppercase">about me</h1>
                <h3 class="text-capitalize">Hassaan Ali</h3>
                <a href="#" class="mb-0"><i class="fas fa-globe"></i></a>
                <div class="title-underline"></div>

            </div>

        </div>
        <!--      end of title-->
        <div class="row mb-5">
            <div class="col-md-6 about-progress mb-5 d-flex flex-column justify-content-center">
                <div class="progress-bars">
                    <!--           html-->
                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">node.js<span>60%</span>
                        </h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">html<span>60%</span></h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <!--           end of html -->
                    <!--           html-->

                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">css<span>60%</span></h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <!--           end of html -->
                    <!--           html-->

                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">javascript<span>60%</span>
                        </h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>




                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">MongoDB<span>60%</span>
                        </h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="bar my-3">
                        <h5 class="text-light text-uppercase d-flex justify-content-between">react<span>60%</span></h5>
                        <div class="progress bg-light">

                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
        <div class="img">

        </div>
    </div>


    </section>







    <section id="contact" class="py-5">
        <div class="container">
            <div class="row height-60 align-items-baseline">
                <div class="col-lg-6 col-sm-10 mx-auto my-3 ">
                    <div class="card text-center">
                        <div class="card-header text-centertext-uppercase">
                            <h1 class="text-uppercase">contact form</h1>
                        </div>
                        <div class="card-body">
                            <form class="box" action="/" method="post">


                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input-text"><i
                                                class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg text-capitalize" name="name"
                                        placeholder="Enter your name here">
                                </div>
                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input-phone"><i
                                                class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="mobile" name="mobile"
                                        class="form-control form-control-lg text-capitalize"
                                        placeholder="Enter your number here">
                                </div>





                                <div class="input-group my-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="input-username"><i
                                                class="fas fa-users"></i></span>
                                    </div>
                                    <input type="email" name="email"
                                        class="form-control form-control-lg text-capitalize"
                                        placeholder="Enter your email here">
                                </div>

                                <button type="submit" class="btn btn-block btn-lg text-uppercase contact-btn"><i
                                        class="far fa-hand-point-right mr-2"></i>submit</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block  text-center mb-5 align-self-center">
                    <img src="img/IMG-20190327-WA0002.jpg" alt="images" class="img-fluid rounded">



                </div>

            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!--  isotope-->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</body>

</html>